body{
    background: white;
}


/* navbar */
.navbar{
    background: rgba(0,0,0,0.9);
}

img[class=img-size]{
    height: 31px;
}

.nav-link{
    color: white;
    font-size: 1rem;
    transition: color 1s linear;
}
.nav-link:hover{
    color: white;
}  
/* home */
.backdrop{
    margin-top: 20px;
}

.text-style{
    font-size: 2rem;
    color: steelblue;
}

.p-style{
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

 /* empIndex */
 /* .card-body{
    background: rgba(0,0,0,0.7);
} */

/* nav of breadcrumb */


    .nav-border{
        border: 0.2px solid rgba(255,255,255,0.9);
        padding: 10px;
        background: rgba(0,0,0,0.7);
        border-radius: 3px;
        margin: 2px;
    }

    li.nav-item{
        list-style: none;
        font-size: 1rem;
    }

    .tb{
        font-size: medium;
    }

    .br{
        text-justify: auto;
    }

    .bg{
        /* background: rgba(0,0,0,0.95); */
        background: rgb(33, 31, 43);
    }



